// Global styles
* {
  box-sizing: border-box;
}

html,
body {
  margin: 1em;
  background: var(--bg);
  color: var(--fontColor);
  font-size: 1em;
  font-weight: lighter;
  font-family: $font-primary;
  @include transition(background, color);
}
