
$light-theme: (
  bg: $light-bg,
  fontColor: $black,
  footer-btnBg: $light-bg,
  footer-btnFontColor: $black,
  h1Color: $black,
);


$dark-theme: (
  bg: $dark-bg,
  fontColor: $rose,
  footer-btnBg: $black,
  footer-btnFontColor: $rose,
  h1Color: $white,

);


.light-theme {
  @each $key, $value in $light-theme {
    --#{$key}: #{$value};
  }
}

.dark-theme {
  @each $key, $value in $dark-theme {
    --#{$key}: #{$value};
  }
}
