
$rose: pink;
$white: white;
$black: #333333;
$light-bg: #f5f5f5;
$dark-bg: #121212;
$dark-accent: #1a1a1a;
$button-hover: #292929;


$font-primary: 'Roboto Condensed', sans-serif;
$font-secondary: 'Zen Tokyo Zoo';
$font-tertiary: 'Sawarabi Mincho', sans-serif;


$font-size-small: small;
$font-size-medium: medium;
$font-size-large: xx-large;
