

/*ALL THIS IMPORTED NONSENSE*/
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/* Light & Dark Theme Setup */
/* I did a lot of researching for this 
but I will need a lot of practice to 
remember how to be more flexible. */
/* I do not like these at all but I don't want to be creative at the moment. */


:root {
  --rose: pink;
  --white: white;
  --light-bg: #f5f5f5; 
  --black: #333333;
  --dark-bg: #121212; 
  --dark-accent: #1a1a1a; 
  --button-hover: #292929;
}


/*I investigated using something other than var, 
but I didnt find anything as flexible*/
.light-theme {
  --bg: var(--gray);
  --fontColor: var(--black);
  --footer-btnBg: var(--gray);
  --footer-btnFontColor: var(--black);
  --h1Color: var(--black);
  --glowFontColor:#c29fff;
  --glowShadow:#d8b6ff;
}

.dark-theme {
  --bg: var(--dark-bg);
  --fontColor: var(--rose);
  --footer-btnBg: var(--black);
  --footer-btnFontColor: var(--rose);
  --h1Color: var(--white);
  --glowFontColor: #9b7aff; 
  --glowShadow: #bb99ff;  
}

* {
  box-sizing: border-box;


}

.image {
  width: 15em;
  height: auto;
  float: right;
  margin: 0.5em;
  object-fit: cover;
  transition: transform 0.3s ease;
}


.zoom-container:hover img {
  transform: scale(1.2);
}

html, body {
  margin:1em;
  background: var(--bg);
  color: var(--fontColor);
  font-size: 1em;
  font-weight: lighter;
  font-family: 'Roboto Condensed',sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}

h1 {
  font-family: 'One Piece Font';
  font-size: xx-large;


  color: white !important;
/*^^!IMPORTANT USED HERE^^*/
  

}

h2 {
  font-family: 'Zen Tokyo Zoo';
  font-weight: lighter;
}

h3 {
  font-family: 'Sawarabi Mincho', sans-serif;

}


form p {
  font-size: small;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin-bottom: 1em;

}

#f_message {
  font-family: 'Roboto Condensed';
  font-weight: lighter;
  font-size: x-large;
}

#highlighted_name {
  font-family: 'Zen Tokyo Zoo';
  font-size: x-large;
}


/*Breaking down the elemnts in the following section of code for practice */
header {
  /* this will target the 'header' element in the HTML file*/
  display: flex;
  /* this will define the seciton as a flex layout
  It also enables available flex properties*/
  justify-content: space-between;
  /*this will align child elements horizontially 
  'space-between' places the first element left last right. 
  The 'space between' here places them evenely spaced */
  position: fixed;
  /*ensures header will remain visible while scrolling*/
  top: 0;
  left:0;
  right:0;
  /*The above property stretches the header across the width of the entire screen*/
  width: 100%;
  /*makes sure the header spans width of screen*/
  background: var(--footer-btnBg);
  /*will set background color
  the variable '--footer-btBg is defined above*/
  align-items: center;
  /*aligns child elements veritcally*/



  z-index: 1000;
  /* ^^Z-INDEX USED HERE ^^

  this sets the 'stacking' order 
  header will remain  on top of other elements (with lower z-index values)*/



  padding: 0.5em 1em;
  /*padding for the header
  0.5em for top & bottom
  1em for left and right*/ 
  box-shadow: 0 0 10px rgba(76, 76, 255, 0.5);
  /*taking same box shadow from original button in footer
  0 0: ensures there is no offset horizontally or vertically
  10px is the radius of the shadow
  color code has a blue tint and half tansparency (the 0.5)*/
}

nav a {
  color: pink !important;
  text-decoration: none;
  font-size:medium;
  font-family: 'Roboto Condensed',sans-serif;
  transition: color 0.3s ease, text-shadow 0.3s ease;

}

nav a:hover {
  color: var(--glowFontColor); /* Light glowing purple */
  text-shadow: 0 0 0.5em var(--glowShadow), 0 0 1em var(--glowShadow); /* Glowing shadow effect */
}

#logo {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
}

#logo .logo-icon {
  width: 3.5em;
  object-fit: cover;
  transition: transform 0.3s ease; 
}

#logo:hover .logo-icon {
  transform: scale(1.2);
}

#logo h1 {
  font-size:xx-large;
  color: var(--h1Color);
  margin: 0;
}

nav {
  box-shadow: 0 0 0.6em -2px lightgray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333333;
  height: 4em;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  padding-top: 4em;
  padding-bottom:5px;
}

main > img {
  width: 15em;
  float: right;
  margin: 0.5em 0 0.5em 0.5em;
}

main .quote {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: clamp(1em, 3vw, 2.5em); /* Adjust size dynamically between 1.5em and 2.5em based on the viewport width */
  font-weight: lighter;
  text-shadow: 0.05em 0.05em 0.1em blanchedalmond;
  text-align: center;
  margin: 5em 0;
  padding: 2em; 
  border: 0.125em solid #ccc; 
  border-radius: 0.9375em; 
  background-color: #f9f9f9;
}

footer {
  background-color: #333333;
  color: aliceblue;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 0.625em -0.125em black;
}

footer a {
  margin: 0 1.25em; 
}

footer .media-link {
  height: 1.5em;
  justify-content: center;
  margin-bottom: 20px;
}

footer #footer-btn {
  padding: 0.625em 1.25em;
  background: linear-gradient(135deg, #1a1a3d, #0a0a23); 
  color: #ffffff;
  font-family: 'Roboto Condensed', serif;
  font-size: 0.75em;
  font-weight: bold;
  border: 0.0625em solid #4c4cff;
  border-radius: 0.3125em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0.625em rgba(76, 76, 255, 0.5);
  transition: all 0.3s ease;
}

footer #footer-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/images/sky.webp'); 
  background-size: 150%;
  opacity: 0.2; 
  pointer-events: none;
}

footer #footer-btn:hover {
  background: linear-gradient(135deg, #292969, #131340); 
  color: #ffccff; 
  box-shadow: 0 0 1.25em rgba(255, 255, 255, 0.8), 0 0 2.5em rgba(76, 76, 255, 0.5);
}




/* Responsiveness stuff / Media Queries*/


@media (max-width: 30em) {
  .image {
      width: 100%;
      float: none;
      margin: 1em 0;
  }
  nav {
    flex-direction: column;
    height: auto;
  }
}


@font-face {
  font-family: 'One Piece Font';
  src: url('./assets/fonts/onepiece.ttf') format('truetype');
}

@keyframes fadeIn {
  from {
    opacity:0;
    transform: translateY(1em);
  }
  to {
    opacity:1;
    transform: transalteY(0);
  }
}

#f_message {
  animation: fadeIn 0.5s ease-in-out;
}



/* THIS EFFECT WAS TOO MINIMAL */
/* footer #footer-btn:hover::before {
  opacity: 0.5; 
  background-size: 200%; /* Zoom in stars */