main {
  padding-top: 2%m;
  padding-bottom: 5px;
}

main > img {
  width: 15em;
  float: right;
  margin: 0.5em 0 0.5em 0.5em;
}

main .quote {
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(1em, 3vw, 2.5em);
  text-shadow: 0.05em 0.05em 0.1em blanchedalmond;
  text-align: center;
  margin: 5em 0;
  padding: 2em;
  border: 0.125em solid #ccc;
  border-radius: 0.9375em;
  background-color: #f9f9f9;
}
