main {
  flex: 1; /* Occupy remaining space */
  margin-top: 4em; /* Offset header height */
  margin-left: var(
    --sidebar-width
  ); /* Push content to the right for the sidebar */
  padding: 2em;
  background: var(--light-bg);
  color: var(--fontColor);
  transition: margin-left 0.3s ease; /* Smooth transition for shifting content */
}

main > img {
  width: 15em;
  float: right;
  margin: 0.5em 0 0.5em 0.5em;
}

main .quote {
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(1em, 3vw, 2.5em);
  text-shadow: 0.05em 0.05em 0.1em blanchedalmond;
  text-align: center;
  margin: 5em 0;
  padding: 2em;
  border: 0.125em solid #ccc;
  border-radius: 0.9375em;
  background-color: #f9f9f9;
}
