
#closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

#openBtn {
  font-size: 1.5em;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5em;
}

#openBtn:hover {
  color: #f1c40f;
}



.sendbutton {
  display: flex;
  padding: 0.3em 0.6em;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 1px;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
}

.sendbutton:hover {
  background-color: var(--button-hover);
}

#footer-btn {
  margin: 0;
  padding: 0.625em 1.25em;
  border: none; /* Ensures no border artifacts */
  background: black;
  color: white;
  font-family: "Roboto Condensed", serif;
  font-size: 0.75em;
  cursor: pointer;
  display: block;
  box-shadow: none; /* Remove any browser-added shadow */
}



footer #footer-btn:hover {
  background: linear-gradient(135deg, #292969, #131340);
  box-shadow: none;
}
