footer {
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%; 
  background-color: #333; 
  color: white; 
  text-align: center; 
  padding: 1em 0; 
  box-sizing: border-box;
  z-index: 999; 
}

footer .media-link {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 1em; 
  margin: 0 auto; 
}

footer .media-link a {
  display: inline-flex; 
  text-decoration: none; 
  align-items: center; 
}

footer .media-link img {
  width: 2em; 
  height: 2em;

}


.media-link {
  display: block;
}