header {
  display: flex; /* Flexbox ensures elements align in a row */
  align-items: center; /* Vertically centers items */
  justify-content: space-between; /* Places space between left and right sections */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4em; /* Consistent height */
  background-color: var(--dark-bg); /* Unified background color */
  color: var(--white);
  padding: 0.5em 1em;
  z-index: 1000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Depth effect */
}

#logo {
  display: flex; /* Aligns the logo section horizontally */
  align-items: center;
  gap: 0.5em; /* Spacing between logo icon and title */
}

.logo-icon {
  height: 2em;
  width: auto;
}

#logo img.logo-icon {
  width: 2em;
  height: 2em;
  object-fit: cover;
}

#logo h1 {
  font-size: 1.5em;
  color: white;
  margin: 0;
  font-family: "One Piece Font", sans-serif;
}
