/* Sidebar adjustments */
.sidebar {
  position: fixed;
  top: 4em; /* Aligns with the bottom of the header */
  left: 0;
  width: var(--sidebar-width);
  height: calc(100% - 4em); /* Fills the space below the header */
  background-color: var(--dark-bg);
  color: var(--white);
  padding-top: 1em; /* Adds space inside the sidebar */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  z-index: 999;
  overflow-y: auto; /* Enable scrolling for long content */
}


.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 15px 20px;
  border-bottom: 1px solid #444;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns items vertically at the top */
  align-items: flex-start; /* Aligns items horizontally to the left */
}

.media-link {
  width: 2em;
  height: 2em;
  display: block;
}
