.sidebar {
  flex: 0 0 var(--b);
  width: 15em;
  height: 100%;
  background-color: var(--bg);
  overflow-y: auto;
  padding: 0;
  box-sizing: border-box;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 1em;
  border: none !important;
}

.sidebar ul li a {
  text-decoration: none;
  color: var(--fontColor);
  display: block;
}

.sidebar-item {
  display: block;
  padding: 0;
  margin: 0;
}

#home {
  font-size: small;
}
